h1{
    text-align: center;
    background-color: aquamarine;
    color: brown;
}
h3{
    text-align: center;
    color: darkgreen;
    box-shadow: bisque;
}
p{
    text-align: justify;
    color: rgb(32, 35, 219);
    font-size: large;
}
.image-container {
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 10px; /* spacing between images */
 
}

.image-container img {
  border: 10px solid chocolate;
  border-radius: 10px;
  width:450px; /*adjust as needed */
  height: 400px;
}
.navbar a{
  font-size: 1.5em;
}